head{
    background-color: rgb(231, 186, 118);
    text-align: center;
    text-emphasis-color:rgb(53, 53, 247) ;
}
body{
    background-color: rgb(247, 175, 191);
    background-image: url(../images/beautiful-fall-trees-with-bright-blue-sky-picjumbo-com.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right top;
    background-attachment: scroll;
     margin-right: 800px; 
}
.h{
    background-color: blanchedalmond;
    text-align: center;
}
.para{
    font-size: 25px;
    color: rgb(26, 20, 25);; 
    text-align: left;
}


th,td{
    color: aliceblue;
    border-color: black;
    border-style: outset;
    background-color: rgb(12, 17, 16);
}

